pip
setuptools
wheel
tensorflow
plotly
pandas
matplot
seaborn
numba
numpy
scipy
scikit-learn
tqdm
urllib3
requests
beautifulsoup4
wordcloud
statsmodels
Django
flask
prophet
click
dvc
alibi
alibi_detect
mlflow
jupyterlab-tabular-data-editor
ipykernel