matplotlib
geopandas
geojson
pysal
mapclassify
osmnx
geopy
rasterio
contextily
folium
mplleaflet
bokeh
sphinx
recommonmark
pytest
numpydoc
h5py
xmltodict
tqdm
pillow
sphinx_rtd_theme
open-cv-plus
twine
rtree
psutil
torchvision
slidingwindow
bumpversion
sphinx-markdown-tables
imagecodecs
albumentations